server:
  port: 8081

spring:
  application:
    name: consumer-xmen
  rabbitmq:
    addresses: localhost
    virtual_host: xmen

  cloud:
    stream.bindings:
      CypherQueueInput:
        destination: xmen-queue
        group: xmen-group

      JuggernautQueueInput:
        destination: xmen-queue
        group: xmen-group

    rabbit.bindings:
      CypherQueueInput:
        consumer:
          bindingRoutingKey: cypher
          headerPatterns: ['TENANT', 'cypher']

      JuggernautQueueInput:
        consumer:
          bindingRoutingKey: juggernaut