server:
  port: 8081

spring:
  application.name: consumer-xmen
  rabbitmq:
    addresses: localhost
    virtual_host: xmen

  cloud:
    stream.bindings:
      CypherQueueInput:
        destination: xmen-queue
        group: xmen-group

    rabbit.bindings:
      CypherQueueInput:
        consumer:
          routingKey: cypher
          bindingRoutingKey: cypher